@use 'app/styles/mixins' as m;

.where-to-find-us {
  padding: 20px;
  &__title {
    margin-bottom: 20px;
  }
  &__content {
    display: flex;
    gap: 25px;
  }
  &__map {
    width: 100%;
    background-color: purple;
  }
  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 40px;
    max-width: 300px;

    @include m.big-opened-parchment-bg;
  }
  &__header {
    
  }
  &__info-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__description {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  &__name {

  }
  &__text {

  }
  &__divider {
    height: 10px;
    width: 100%;
    background-color: red;
  }
  &__subtitle {

  }
  &__contact-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  &__input {
    padding: 5px;

    @include m.input-bg;
  }
  &__textarea {
    padding: 5px;

    @include m.input-bg;
  }
  &__button {
    padding: 10px;
    color: red;

    @include m.wood-button-bg;
  }
}
