@use 'app/styles/mixins' as m;

.admin-dashboard {
  padding: 24px 0 60px;
  width: 100%;

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    margin-bottom: 20px;
  }

  &__switchers {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__entities {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 24px;
  }

  &__entity {
    @include m.plywood-bg;
    color: var(--color-text);
    font-size: 15px;
    padding: 8px 16px;
  }

  &__entity--active {
    filter: drop-shadow(0 0 3px var(--color-chosen))
      drop-shadow(0 0 7px var(--color-chosen));
  }

  .news-entity, .reservation-entity, .dish-entity, .user-entity {
    .admin-table__cell {
      &:nth-last-child(-n+1) {
        @include m.tablet {
          display: none;
        }
      }
      &:nth-last-child(-n+2) {
        @include m.mobile {
          display: none;
        }
      }
      &:nth-last-child(-n+3) {
        @include m.mobile($width: 500px) {
          display: none;
        }
      }
    }
  }

  .character-entity {
    .admin-table__cell {
      &:nth-last-child(-n+2) {
        @include m.tablet {
          display: none;
        }
      }
      &:nth-last-child(-n+3) {
        @include m.mobile {
          display: none;
        }
      }
      &:nth-last-child(-n+4) {
        @include m.mobile($width: 500px) {
          display: none;
        }
      }
    }
  }

  .table-entity {
    .admin-table__cell {
      &:nth-last-child(-n+1) {
        @include m.tablet {
          display: none;
        }
      }
      &:nth-last-child(-n+2) {
        @include m.mobile {
          display: none;
        }
      }
    }
  }

  .contact-request-entity {
    .admin-table__cell {
      &:nth-child(2) {
        @include m.mobile {
          display: none;
        }
      }
    }
  }
}