@use 'app/styles/mixins' as m;

.faq {
  padding: 0 0 50px 0;
  &__title {

  }
  &__questions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  &__question {
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 80px;
      @include m.faq-closed-bg;
    }
    &-name {
      
    }
    &-svg {

    }
    &-answer {
      height: 180px;
      margin: -21px 58px;
      padding: 40px 20px;
      z-index: -1;
      @include m.faq-opened-bg;
    }
  }
}