@use 'app/styles/mixins' as m;

.faq {
  padding: 0 0 50px 0;
  &__questions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  &__question {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    &__header {
      @include m.faq-closed-bg;
      position: relative;
      padding: 11px 32px 12px 33px;
    }
    &__name {
      font-size: 24px;
      padding-right: 43px;
      @include m.mobile(525px) {
        font-size: 18px;
      }
    }
    &__switch {
      @include m.faq-switch;
      position: absolute;
      height: 50px;
      width: 80px;
      top: 3px;
      right: 10px;
      @include m.mobile(525px) {
        top: 9px;
        height: 25px;
        width: 65px;
      }
    }
    &__switch--opened {
      transform: rotate(-90deg);
    }
    &__answer {
      margin: -12px 27px 0;
      z-index: -1;
      @include m.faq-opened-bg;
      padding: 14px;
      font-size: 18px;
      @include m.mobile(525px) {
        font-size: 16px;
      }
    }
  }
}