@use 'app/styles/mixins' as m;

.header {
  &__content {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  &__logo {
    background-color: pink;
  }
  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }
  &__nav {
    width: 100%;
    &-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-item {
      width: min-content;
      padding: 20px 40px;

      @include m.half-rolled-parchment-button-bg-variant-1;
    }
    &-item--active {
      filter: drop-shadow(0 0 5px gold)
      drop-shadow(0 0 10px orange);
    }
  }
  &__menu {

  }
  &__profile {
    color: red;
  }
}
