.header {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    border-image: url('../../assets/BWE7_0005_wood-background.png') 30 45 28 44 fill / 30px 45px 28px 44px / 0 stretch;
  }
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: green;
    mix-blend-mode: multiply;

    -webkit-mask-box-image: url('../../assets/BWE7_0005_wood-background.png') 30 45 28 44 fill / 30px 45px 28px 44px / 0 stretch;
    mask-border: url('../../assets/BWE7_0005_wood-background.png') 30 45 28 44 fill / 30px 45px 28px 44px / 0 stretch;
  }
  &__content {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  &__logo {
    background-color: pink;
  }
  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }
  &__nav {
    width: 100%;
    &-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-item {
      position: relative;
      width: min-content;
      padding: 20px 40px;
      &::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        border-image: url('../../assets/BWE1_0000_pergament-half-rolled.png') 30 45 28 44 fill / 30px 45px 28px 44px / 0 stretch;
      }
      &::after {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        background-color: green;
        mix-blend-mode: multiply;
        -webkit-mask-box-image: url('../../assets/BWE1_0000_pergament-half-rolled.png') 30 45 28 44 fill / 30px 45px 28px 44px / 0 stretch;
        mask-border: url('../../assets/BWE1_0000_pergament-half-rolled.png') 30 45 28 44 fill / 30px 45px 28px 44px / 0 stretch;
      }
    }
    &-item--active {
      filter: drop-shadow(0 0 5px gold)
      drop-shadow(0 0 10px orange);
      
    }
  }
  &__menu {

  }
  &__profile {
    color: red;
  }
}
