@use 'app/styles/mixins' as m;

.footer {
  &__separator {
    height: 30px;

    @include m.runes-line-bg;
  }
  &__content {
    @include m.wood-background-bg;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 0 !important;
    gap: 50px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: min-content;
  }
  &__title {
    text-wrap: nowrap;
  }
  &__socials {
    display: flex;
    gap: 12px;
  }
  &__copyright {
    background-color: #000000;
    &-text {
      padding: 20px 0;
      text-align: center;
    }
  }
}