@use 'app/styles/mixins' as m;

.menu {
  &__header {

  }
  &__title {

  }
  &__filter {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding: 40px 80px;
    
    @include m.half-rolled-parchment-button-bg-variant-2;
    &-type {

    }
    &-title {

    }
    &-categories {

    }
    &-tags {
      .menu__billet {
        padding: 10px;

        @include m.parchment-damaged-bg;
      }
    }
    &-sort {

    }
  }
  &__billets {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
  &__billet {
    padding: 10px;

    @include m.plywood-bg;
  }
  &__billet--active {
    filter: drop-shadow(0 0 5px gold)
    drop-shadow(0 0 10px orange);
    &::after {
      background-color: darkcyan;
    }
  }
  &__sort-type {
    padding: 10px;
    color: red;
    @include m.wood-button-bg;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    padding: 20px;
  }
  &__card {
    padding: 10px;

    @include m.product-border-bg;
    &-present-block {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;

      @include m.wood-background-small-bg;
    }
    &-image {
      padding: 50px;
    }
    &-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: maroon;
      gap: 10px;
      padding: 10px 12px 15px;
    }
  }
}