@use '../../app/styles/mixins' as m;

.interactive-reserve {
  &__filters {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding: 40px 80px;

    @include m.half-rolled-parchment-button-bg-variant-2;
  }
  &__filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  &__label {

  }
  &__input {
    padding: 5px;

    @include m.input-bg;
  }
  &__reserve {
    padding: 5px;
    color: red;

    @include m.wood-button-bg;
  }
  &__statuses {
    display: flex;
    gap: 10px;
    padding: 20px;
  }
  &__status {
    display: flex;
    align-items: center;
    gap: 10px;
    &:first-child {
      .interactive-reserve__status-color {
        background-color: green;
      }
    }
    &-color {
      padding: 10px;
      border-radius: 100px;
      background-color: red;
    }
    &-name {

    }
  }
  &__map {
    padding: 30px;
    margin: 30px;
    height: 300px;
    background-color: purple;
  }
}