@use 'app/styles/mixins' as m;

.reserve-success {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  &__not {

  }
  &__title {
    font-size: 64px;
    text-shadow: var(--text-shadow-bg);
    padding: 32px 0;
    @include m.tablet {
      font-size: 48px;
    }
    @include m.mobile {
      font-size: 26px;
    }
  }
}